package templdais

type BadgeAttrs struct {
	Brand   string
	Outline bool
	Size    string
	Text    string
	Class   string
}

func (bdg BadgeAttrs) GetClassName() string {
	var className = getClassName(bdg.Brand, "", bdg.Size, "badge")

	if bdg.Outline {
		className += " badge-outline"
	}

	if bdg.Class != "" {
		className += " " + bdg.Class
	}

	return trimSpaces(className)
}

templ Badge(bdg BadgeAttrs) {
	<span
		class={ "badge", bdg.GetClassName() }
	>{ bdg.Text }</span>
}
