package templdais

templ Checkbox(chk FormAttrs) {
	<input
		type="checkbox"
		name={ chk.FieldName }
		class={ "checkbox", chk.GetClassName("checkbox") }
		if chk.Checked != "" {
			checked
		}
	/>
}
